$logoImage: url(../img/m-h-day.jpg);
$fontFamily: 'Hind', sans-serif;
$logoPadding: 7px;
$logoFontSize: 8px;
$logoMargin: -5px;
$headerTextFont: 'Source Sans Pro', sans-serif;
$mainFont: "Source Sans Pro", sans-serif;
$underlineColor: #14A0C7;
$buttonColor: #699900;
$bgColor: #fffff;
$sectionBgColor: #21232E;
$bannerBg: linear-gradient(-120deg, #305ECC, #679705);
$isDarkTheme: false
