$logoImage: url(../img/m-h-night.jpg);
$fontFamily: 'Fresca', sans-serif;
$logoPadding: 12px;
$logoFontSize: 6px;
$logoMargin: 0;
$headerTextFont: 'Fresca', sans-serif;
$mainFont: "Source Sans Pro", sans-serif;
$underlineColor: #ea5009;
$buttonColor: #E3AC00;
$bgColor: #21232E;
$sectionBgColor: #3B3F50;
$bannerBg: linear-gradient(-120deg, #97334E, #DFA604);
$isDarkTheme: true
